/* some style */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  background-color: #000;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  border: 1px solid #CD0A0A;
}

.page-dialog {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}

.progress {
  display: block;
  width: 100%;
  height: 20px;
  border: 0px solid #666;
}

.progress-bar {
  display: block;
  border-radius: 10px;
  background-image: url('../images/barBack_horizontalLeft.png'),
    url('../images/barBack_horizontalMid.png'),
    url('../images/barBack_horizontalRight.png');
  background-repeat: no-repeat,
    repeat-x,
    no-repeat;
  background-position: left top, 0px, right top;
  height: 18px;
}

.progress-bar .progress-bar-value {
  display: block;
  border-radius: 10px;
  background-repeat: no-repeat,
    repeat-x,
    no-repeat;
  background-position: left top, 0px, right top;
  height: inherit;
}

.progress-bar.progress-bar-health .progress-bar-value {
  background-image: url('../images/barGreen_horizontalLeft.png'),
    url('../images/barGreen_horizontalMid.png'),
    url('../images/barGreen_horizontalRight.png');
}

.progress-bar.progress-bar-magic .progress-bar-value {
  background-image: url('../images/barBlue_horizontalLeft.png'),
    url('../images/barBlue_horizontalBlue.png'),
    url('../images/barBlue_horizontalRight.png');
}

.btn {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px 0px 12px 0px;
  color: #FFF;
  border-radius: 8px;
  background-color: #838796;
  border-image: url('../images/buttonLong_blue.png') 10 10 10 10 repeat;
  border-width: 15px;
  border-style: solid;
  text-transform: uppercase;
}
.btn:disabled {
  color: #666;
}


.btn-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.btn-list li {
  margin-bottom: 5px;
}
.btn-list li:last-child {
  margin-bottom: 0px;
}

.game-screen {}

.sidebar {
  position: absolute;
  background: #333;
  top: 10px;
  right: 10px;
  bottom: 10px;
  width: 240px;
  z-index: 100;
  box-shadow: -4px 0px 13px 8px rgba(0,0,0,0.3);
  border-radius: 5px;
  background: #97714A;
  border-image: url('../images/panel_brown.png') 10 10 10 10 repeat;
  border-width: 15px;
  border-style: solid;
}

.status-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.status-list-item {
  display: block;
  width: 100%;
  height: 32px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.status-list-item:last-child {
  margin-bottom: 0px;
}
.status-list-label {
  float: left;
  width: 32px;
  height: 32px;
}
.status-list-label.gold {}
.status-list-label.health {}
.status-list-label.magic {}
.status-list-label.floor {}
.status-list-label.level {}

.status-list-value {
  float: right;
  width: calc(100% - 32px);
  height: 32px;
  color: #000;
  padding: 6px 10px;
}

.game-wrapper {
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% - 250px);
}

.adventure-log {
  color: #000;
  background: #FFF;
  position: absolute;
  width: calc(100% - 250px);
  height: 200px;
  z-index: 200;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #D4BF90;
  border-image: url('../images/panel_beige.png') 10 10 10 10 repeat;
  border-width: 15px;
  border-style: solid;
  box-shadow: -4px 0px 13px 8px rgba(0,0,0,0.3);
}
.adventure-log ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.adventure-log ol li {
  padding: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}
.adventure-log span {
  font-weight: bold;
}